<div class="footer-section">
    <div class="footer-container common-padding">
        <div class="main">
            <div class="information">
                <div class="logo">
                    <img src="../../../../assets/images/logo/logo.png" alt>
                </div>
                <p>Welcome to Build Gurus – Your Trusted Construction Partner
                </p>
                <p>New baneshwor, Kathmandu</p>
                <span><a href="tel:98########"> 98########</a></span><br>
                <span><a href="mailto:buildguru@email.com">buildguru@email.com</a></span>

                <div class="social-media d-flex">
                    <div class="item"><a href=""><img src="../../../../assets/icons/facebook.png" alt=""></a></div>
                    <div class="item"><a href=""><img src="../../../../assets/icons/instagram.png" alt=""></a></div>
                    <div class="item"><a href=""><img src="../../../../assets/icons/whatsapp.png" alt=""></a></div>
                    <div class="item"><a href=""><img src="../../../../assets/icons/telegram.png" alt=""></a></div>
                </div>
            </div>
            <div class="quick-links d-flex">
                <a href="">Our Services</a>
                <a href="">projects</a>
                <a href="">Blogs & News</a>
                <a href="">Contact us</a>
            </div>

        </div>
    </div>
</div>