$bg-color: #001829;
$font-color1: #a4a4a4;
$font-color2: #fed304;
$font-color3: #0066b3;
$bg-layer: rgba(0, 24, 41, 0.61);
$header-bg: linear-gradient(#001320 0%, #00182952 60%, #00182900 100%);
$padding-top: 100px;
$padding-top2: 80px;


