<div class="about-section">
    <div class="about-container common-padding">
        <div class="top">
            <div class="heading">
                <span class="small-h">WHO WE ARE</span>
                <h1>We Develop quality infrastructure and real estate projects</h1>
            </div>
            <div class="project-bar">
                <div class="item">
                    <h3>98+</h3>
                    <span>Projects</span>
                </div>
                <div class="item">
                    <h3>20+</h3>
                    <span>Ventures</span>
                </div>
            </div>
        </div>
        <div class="bottom">
            <app-about-slider></app-about-slider>
        </div>
    </div>
</div>