<div class="container-fluid signup-container">
    <h2 class="text-center">Chnage Password</h2>
    <div class="form-container">
        <form [formGroup]="changePasswordForm" class="form">
            <!-- Password Field -->
            <div class="mb-3 form-group">
                <label for="password" class="form-label">Old Password:</label>
                <div class="input-group">
                    <input
                        id="password"
                        type="password"
                        class="form-control input"
                        formControlName="oldPassword"
                        [ngClass]="{'red-border': oldPassword?.touched && oldPassword?.invalid}"
                        required />
                    <div class="error-message"
                        *ngIf="oldPassword?.touched && oldPassword?.invalid">
                        <span *ngIf="oldPassword?.errors?.['required']">This
                            field
                            is mandatory</span>
                        <span
                            *ngIf="oldPassword?.errors?.['minlength']">Password
                            must be at least 6 characters</span>
                    </div>
                </div>
            </div>

            <div class="mb-3 form-group">
                <label for="password" class="form-label">New Password:</label>
                <div class="input-group">
                    <input
                        id="password"
                        type="password"
                        class="form-control input"
                        formControlName="newPassword"
                        [ngClass]="{'red-border': newPassword?.touched && newPassword?.invalid}"
                        required />
                    <div class="error-message"
                        *ngIf="newPassword?.touched && newPassword?.invalid">
                        <span *ngIf="newPassword?.errors?.['required']">This
                            field
                            is mandatory</span>
                        <span
                            *ngIf="newPassword?.errors?.['minlength']">Password
                            must be at least 6 characters</span>
                    </div>
                </div>
            </div>

            <div class="mb-3 form-group">
                <label for="password" class="form-label">Confirm
                    Password:</label>
                <div class="input-group">
                    <input
                        id="password"
                        type="password"
                        class="form-control input"
                        formControlName="confirmPassword"
                        [ngClass]="{'red-border': confirmPassword?.touched && confirmPassword?.invalid}"
                        required />
                    <div class="error-message"
                        *ngIf="(confirmPassword?.touched && confirmPassword?.invalid) || changePasswordForm.errors?.['notMatching']">
                        <span *ngIf="confirmPassword?.errors?.['required']">This
                            field
                            is mandatory</span>
                        <span
                            *ngIf="confirmPassword?.errors?.['minlength']">Password
                            must be at least 6 characters</span>
                        <span
                            *ngIf="changePasswordForm.errors?.['notMatching'] && confirmPassword?.touched">New
                            Password and Confirm Password do not match</span>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary"
                [disabled]="changePasswordForm.invalid || (changePasswordForm.errors?.['notMatching'] && confirmPassword?.touched)"
                (click)="handleSubmit()">Submit</button>
            <button type="submit" class="btn btn-danger ml-5"
                (click)="closeModal()">Close</button>
        </form>
    </div>
</div>
