<div class="blog-section">
    <div class="blog-container common-padding2">
        <div class="top d-flex align-items-center">
            <div class="heading">
                <span class="small-h has-color3">FROM OUR BLOG.</span>
                <h1>News & Events</h1>
            </div>
            <div class="more text-align">
                <a href class="link"><span class="line"></span>VIEW ALL</a>
            </div>
        </div>
        <div class="main">
            <div class="items d-flex">
                <div class="card" 
                    *ngFor=" let content of servicesContent">
                    <div class="image" style="max-height: 400px;">
                        <img src="{{content.image}}" class="card-img-top"
                            alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{content.title}}</h5>
                        <p class="card-content">{{content.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>