<section class="banner-section">
    <div class="banner-container">
        <div class="video">
            <video id="myVideo"  [muted]="true" [autoplay]="true" [loop]="true" [playsInline]="true">
                <source src="../../../assets/videos/bannerVideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>              
        </div>
        <div class="content">
            <h1 class="main">Your Vision, Our Expertise</h1>
        </div>
    </div>
</section>