<app-image-banner [src]="bannerImage" [title]="bannerTitle" [subTitle]="bannerSubTitle"></app-image-banner>
<div class="about-page-section">
    <div class="numbers-increment">
        <div class="item" *ngFor="let progress of progressBars; let i = index">
            <h1>{{ progress.progress }}%</h1>
            <h5 class="name">{{progress.title}}</h5>
        </div>
    </div>
    <div class="main common-padding2">
        <div class="title">
            <h1>Crafting Dreams, Building
                Futures in Nepal</h1>
        </div>
        <div class="content">
            <p>Embark on a transformative construction journey with Build Guru
                Construction Pvt Ltd, where each project is an ode to precision,
                passion, and unwavering commitment to quality. As builders and
                creators of enduring spaces, we invite you to explore the
                heights of excellence in construction. At R&R Construction, we
                transcend conventional building norms to create spaces that
                inspire. Our legacy of excellence, driven by a passion for
                craftsmanship and innovation, makes us your ideal construction
                partner. Explore our diverse portfolio and discover how we’re
                building the future of Nepal.</p>
        </div>

        <div class="bottom-content">
            <div class="item">
                <div class="content">
                    <h4 class="title">Title1</h4>
                    <div class="text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Exercitationem saepe reprehenderit ipsam dolor
                        voluptates, tempora nesciunt temporibus velit aspernatur
                        recusandae labore quam illo expedita deserunt quo, illum
                        minima inventore. Possimus veniam unde sit consequuntur
                        aliquid aliquam, repudiandae qui distinctio! Repellendus
                        eos enim dignissimos expedita laborum? Assumenda
                        molestias dolore asperiores culpa.
                    </div>
                </div>
                <div class="image-container">
                    <img src="../../../../assets/images/products/building3.jpg" alt="">
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <h4 class="title" >Title1</h4>
                    <div class="text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Exercitationem saepe reprehenderit ipsam dolor
                        voluptates, tempora nesciunt temporibus velit aspernatur
                        recusandae labore quam illo expedita deserunt quo, illum
                        minima inventore. Possimus veniam unde sit consequuntur
                        aliquid aliquam, repudiandae qui distinctio! Repellendus
                        eos enim dignissimos expedita laborum? Assumenda
                        molestias dolore asperiores culpa.
                    </div>
                </div>
                <div class="image-container">
                    <img src="../../../../assets/images/products/building3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
