
<div class="container mt-lg-5">
    <h1>Dashboard</h1>
    <div class="items row">
        <div class="card text-center m-3 shadow-lg" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Total Employee:</h3>
                <h4 class="card-title">{{data?.employee}}</h4>
                <a class="btn btn-primary">View Employees</a>
            </div>
        </div>
        <div class="card text-center m-3 shadow-lg" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Total Users:</h3>
                <h4 class="card-title">{{data?.user}}</h4>
                <a class="btn btn-primary">View Users</a>
            </div>
        </div>
        <div class="card text-center m-3 shadow-lg" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Total Category:</h3>
                <h4 class="card-title">{{data?.category}}</h4>
                <a class="btn btn-primary">View Category</a>
            </div>
        </div>

        <div class="card text-center m-3 shadow-lg" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Total Position:</h3>
                <h4 class="card-title">{{data?.position}}</h4>
                <a class="btn btn-primary">View Position</a>
            </div>
        </div>

        <div class="card text-center m-3 shadow-lg" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Total Engineers:</h3>
                <h4 class="card-title">{{data?.engneer}}</h4>
                <a class="btn btn-primary">View Engineers</a>
            </div>
        </div>

        <div class="card text-center m-3 shadow-lg" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Total Architectural Engineers</h3>
                <h4 class="card-title">{{data?.artechEngneer}}</h4>
                <a class="btn btn-primary">View Architectural Engineers</a>
            </div>
        </div>

        <div class="card text-center m-3 shadow-lg" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Total Labours</h3>
                <h4 class="card-title">{{data?.labour}}</h4>
                <a class="btn btn-primary">View Labours</a>
            </div>
        </div>

        <div class="card text-center m-3 shadow-lg" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Total Healpers</h3>
                <h4 class="card-title">{{data?.healper}}</h4>
                <a class="btn btn-primary">View Healpers</a>
            </div>
        </div>
    </div>
</div>
