<div class="container-fluid signup-container">
    <h2 class="text-center">Forget Password</h2>
    <div class="form-container">
        <form [formGroup]="forgetPasswordForm" class="form">
            <!-- Email Field -->
            <div class="mb-3 form-group">
                <label for="email" class="form-label">Email address:</label>
                <div class="input-group">
                    <input
                        id="email"
                        type="email"
                        class="form-control input"
                        [ngClass]="{'red-border': email?.touched && email?.invalid}"
                        formControlName="email"
                        required />
                    <div class="error-message"
                        *ngIf="email?.touched && email?.invalid">
                        <span *ngIf="email?.errors?.['required']">This field is
                            mandatory</span>
                        <span *ngIf="email?.errors?.['pattern']">Enter a valid
                            email</span>
                    </div>
                </div>
            </div>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-dark"
                [disabled]="forgetPasswordForm.invalid"
                (click)="handleSubmit()">Submit</button>
            <button type="submit" class="btn bg-light ml-5"
                (click)="closeModal()">Close</button>
        </form>
    </div>
</div>
